*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

html{
    background-color: #181818;
    color: #e7e7e7;
    scroll-behavior: smooth;
}

.container{
    margin: 1rem 1rem 4rem;
    padding: 1rem;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    text-shadow: 0 0 5px #898989;
    margin-bottom: 2rem;
    cursor: default;
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

li{
    padding: 1rem;
    border: 2px solid darkcyan;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

ul:hover li:not(:hover){
    opacity: .5;
}

li:hover{
    box-shadow: 0 0 5px 2px gold;
    scale: 1.01;
}

span.index{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #898989;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(84, 15, 109);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: default;
    box-shadow: 2px 1px 4px 2px #030303;
}

span{
    margin: .2rem;
    word-break: break-all;
    display: block;
}

p{
    color: rgb(143, 76, 150);
    display: inline;
}

fieldset{
    padding: .5rem;
    border-radius: 4px;
    margin-top: 1rem;
}

legend{
    color: rgb(131, 151, 231);
    letter-spacing: .5px;
    padding: 0 .3rem;
}

.btn{
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: rgb(131, 151, 231);
    color: #e7e7e7;
    font-size: 1.4rem;
    box-shadow: 0 0 8px 5px #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    animation-name: showBtnHidden;
    animation: showBtnHidden ease-in-out .3s both;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn.visible{
    visibility: visible;
    opacity: 1;
    animation: showBtnVisible ease-in-out .3s both;
    animation-fill-mode: both;
}

@keyframes showBtnVisible {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

@keyframes showBtnHidden {
    0%{transform: scale(1);}
    100%{transform: scale(0);}
}

@media screen and (max-width: 920px) {
    ul{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}